<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<!-- Setting default document to point to Swagger -->
		<defaultDocument>
			<files>
				<clear />
				<add value="swagger/index.html" />
			</files>
		</defaultDocument>

		<!-- Disabling directory browsing for security reasons -->
		<directoryBrowse enabled="false" />

		<!-- Configuring ASP.NET Core for IIS -->
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>

		<aspNetCore processPath="dotnet" arguments=".\LoggingApi.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
			<environmentVariables>
				<!-- Add environment variables if necessary -->
			</environmentVariables>
		</aspNetCore>
	</system.webServer>
</configuration>
